html,
body {
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

a {
  text-decoration: none;
}

/* header */

.header {
  height: 12px;
  line-height: 66px;
  color: black;
}

.header-title {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* menu */

.menu {
  float: left;
}
.menu a {
  padding: 0 10px;
  color: black;
}

.menu a:hover {
  font-weight: bold;
}

/* responsive menu */

@media only screen and (max-width: 750px) {
  .container,
  .site-pucher {
    height: 100%;
  }

  .container {
    overflow: hidden;
  }

  .site-pucher {
    transition-duration: 0.2s;
    transform: translateX(0px);
  }

  .header-icon {
    position: relative;
    display: block;
    float: left;
    width: 35px;
    height: 50px;
    cursor: pointer;
  }

  /* hamburger icon */

  .header-icon:after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 0;
    top: 15px;
    left: 15px;
    box-shadow: 0 10px 0 1px #000000, 0 16px 0 1px #000000, 0 22px 0 1px #000000;
  }

  /* hiden menu*/

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    background-color: #dfe7ff;
    transform: translateX(450px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 48px;
    margin-top: 20px;
  }
}

.content {
  background-image: url(./woman-in-red.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 720px;
  font-size: 47px;
  text-align: center;
}

.aboutus {
  margin: 0 25px;
}

p {
  height: 100px;
  font-size: 20px;
}

footer {
  background-color: black;
  color: white;
  height: 200px;
  width: 100%;
  padding-top: 50px;
  height: 250px;
}

.footer1 {
  text-align: center;
}

footer table {
  padding: 20px;
  width: 100%;
}

footer ul {
  list-style: none;
  font-style: oblique;
}

footer ul li {
  display: inline;
  padding: 30px;
}

footer ul li a {
  text-decoration: none;
  font-size: 16px;
}

footer tr {
  margin: 50px;
  padding: 10px;
}

footer th,
td {
  padding: 5px;
  text-align: right;
}

footer small a {
  text-decoration: none;
}
